.aboutman-body{
height: 1262.67px;
gap: 114.67px;
}
.aboutman-body h3{
    font-weight: 600;
    font-size: 21.33px;
    color: #282938;
    margin-bottom: 20px;
}
.aboutman-body h1{
    font-weight: 700;
    font-size: 64px;
    color: #282938;
    margin-bottom: 20px;
}
.aboutman-body p{
    font-weight: 400;
    font-size: 24px;
    color: #1C1E53;
    margin-bottom: 20px;
}
@media(max-width:992px){
    .aboutman-div{
        display: none;
    }
    .aboutme-details {
        text-align: center;
        margin: auto;
    }
    .aboutme-details p{
        font-size: 28px;
    }
}