.contact-details h3 {
  font-weight: 600;
  font-size: 16px;
}
.contact-details h1 {
  font-weight: 700px;
  color: #282938;
  font-size: 64px;
}
.contact-details p {
  color: #1c1e53;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 80px;
}
.contact-container {
  height: 1315px;
  padding: 70px;
}
.first-last,
.address-no {
  gap: 40px;
  justify-content: center;
}
#first-name,
#last-name,
#email,
#telephone {
  width: 496px;
  height: 64px;
  border: 1.33px solid #282938;
}
label {
  color: #282938;
  font-weight: 400;
  font-size: 21.33px;
}
.form-content {
  flex-direction: column;
}
.cover-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#testing {
  width: 1020px;
  height: 214px;
  border: 1.33px solid #282938;
  border-radius: 8px;
}
textarea::placeholder {
  font-size: 21.33px;
  font-weight: 400;
  color: #505050;
}

.form-content button {
  width: 1020px;
  height: 92px;
  padding: 30px, 42.67px, 30px, 42.67px;
  background-color: #5e3bee;
  border: none;
  border-radius: 8px;
  font-size: 21.33px;
  font-weight: 400;
  color: white;
}
.checkbox-div{
    width: 996px;
}
@media(max-width:993px){
  .checkbox-div{
    width: 100%;
    margin: auto;
  }
  
}

@media (max-width: 992px) {
  .first-last,
  .address-no {
    flex-direction: column;
    margin: auto;
  }
  #testing,
  .form-content button {
    width: 500px;
  }
  .contact-container {
    height: 1500px;
  }
}
@media (max-width: 520px) {
  #testing,
  .form-content button,
  #first-name,
  #email,
  .address-no,
  .first-last,
  #last-name,
  #telephone {
    width: 430px;
  }
  .contact-container {
    height: 1500px;
  }
}
@media (max-width: 450px) {
  #testing,
  .form-content button,
  #first-name,
  #email,
  .address-no,
  .first-last,
  #last-name,
  #telephone {
    width: 380px;
  }
   .form-content button{
    height: 70px;
  }
}
@media (max-width: 400px) {
  #testing,
  .form-content button,
  #first-name,
  #email,
  .address-no,
  .first-last,
  #last-name,
  #telephone {
    width: 330px;
  }
}
@media (max-width: 350px) {
  #testing,
  .form-content button,
  #first-name,
  #email,
  .address-no,
  .first-last,
  #last-name,
  #telephone {
    width: 300px;
  }
 
}